h1, h2{
    margin: 1em 0 2em 2em;
}

p{
    margin-left: 15px;
    font-size: 1.2em;
}

a{
    outline: none;
    text-decoration: none;
    color: black;
}

button{
    background: linear-gradient(0.25turn, #E68A06, #915EFE);
    width: 10em;
    height: 3em;
    border-radius: 15px;
    margin: 1em 0 2em 0;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    border: unset;
    font-family: 'Finger Paint', cursive;
    font-size: 1em;
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0.25turn, #E68A06, #915EFE);
    margin: unset;
    font-family: 'Finger Paint', cursive;
}

.content{
    background: #F3E9F1;
    width: 95%;
    box-shadow: 0px 4px 18px 3px rgba(0,0,0,0.75);
}

nav{
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 1.5em;
}

.logoBlock{
    display: flex;
    justify-content: center;
    background: #F3E9F1;
}

.logo{
    width: 30%;
}

.produits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F3E9F1;
    margin-bottom: 5em;
}

.produits > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 280px;
    box-shadow: 0px 3px 33px -15px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.produits > div > img{
    width: 280px;
    height: 180px;
    object-fit: cover;
}

/* --------------------------page produit selectionné---------------------------- */

.selectedProduits{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background: #F3E9F1;
    margin: 5em 0 8em 0;
}

.selectedProduits > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 40%;
    box-shadow: 0px 3px 33px -15px rgba(0,0,0,0.75);
    border-radius: 1em;
}

.selectedProduits > div > img{
    width: 100%;
    object-fit: cover;
}

#customiz{
    width: 30%;
    height: fit-content;
    margin-left: 5em;
}

#customiz > div{
    display: flex;
}

.menuColor{
    margin: 1em 0 2em 0;
}

.quantité{
    margin: 1em 0 2em 0;
}

#quantité{
    width: 10em;
}

.hidden{
    display: none;
}

.popup{
    border: black 2px solid;
    border-radius: 10px;
    width: 15em;
    text-align: center;
    font-style: italic;
}

/* page panier */

#vider{
    margin-left: 1em;
}

.vide{
    border: solid 2px;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}

.tab{
    overflow-x: scroll;
    margin-bottom: 1em;
}

table{
    border: solid 1px;
    width: 100%;
    margin-bottom: 1em;
}

th{
    border: solid 1px;
}

td{
    border: solid 1px;
}

#article > td > img{
    width: 150px;
    object-fit: cover;
}

form {
    margin: 0 auto 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 5em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 380px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    margin: 2em 0em 1em 8em;

  }

  /* validation */

  .msg{
      margin: 3em;
      border: solid 3px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0px 3px 33px -15px rgba(0,0,0,0.75);
      padding: 1em;
  }

  #numbCom{
      padding: 10px;
      border: solid 2px;
      border-radius: 10px;
  }

.conf{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 3em 0 5em 0;
}

.conf > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 25%;
    box-shadow: 0px 3px 33px -15px rgba(0,0,0,0.75);
    border-radius: 1em;
    margin: 2em;
}

.conf > div > img{
    width: 50%;
    object-fit: cover;
    margin-bottom: 2em;
    border-radius: 10px;
}

.conf > div > div{
    display: flex;
}
